<h3>Datapipe</h3>
<aside>Platform Engineer</aside>
<aside>2016.10 - Present</aside>
<p>
  <ul>
    <li>Kubernetes, Kops, KPM, Helm, Docker, Golang, Node</li>
  </ul>
</p>

<h3>Change Healthcare</h3>
<aside>Consultant</aside>
<aside>2016.04 - 2016.09</aside>
<p>
  <ul>
    <li>Focused on front end development with React.</li>
    <li>Created several React components for new product serving approximately 15 million users.</li>
    <li>Development lead for new features. I am in charge of rearchitecting old components to new emitter patterns. Currently, the application is following the Flux pattern which employs a catch all mentality. We have decided an explicit event based approach is a better fit for our purposes. I have been fronting new development with this pattern.</li>
    <li>Implemented analytics tracking for application wide. This gathers usage statistics so we can better understand what direction the application is headed.</li>
    <li>Worked with Apigee for creating SSO interface.</li>
  </ul>
</p>

<h3>GISbiz</h3>
<aside>Senior Software Engineer </aside>
<aside>2014.09 - 2016.03</aside>
<p>
  <ul>
    <li>Developed api for Geoorganizer product on Node.js, Redis, Postgres, and AWS. Deployments are handled by CodeDeploy and messaging is handled by RabbitMQ.</li>
    <li>Created prototype for esri-leaflet using mithriljs</li>
    <li>Automate deployment process of product to AWS using CodeDeploy and ArcPy</li>
    <li>Creating web maps ArcGIS JavaScript on 10.0 - 10.3</li>
  </ul>
</p>

<h3>Geographic Information Services, Inc.</h3>
<aside>Senior Software Engineer</aside>
<aside>2014.04 - 2014.09</aside>
<p>
  <ul>
    <li>Created GIS application using Knockout, ESRI JS, C# 4.5 and IIS.</li>
    <li>Created custom query builder in JavaScript which allowed the user to pick fields and operators that are used to compare with custom input.</li>
    <li>Developed and implemented custom search widget designed specifically for the clients map services.</li>
    <li>Created auth system which allowed the map services to be secured.</li>
    <li>Created custom print templates within ArcMap.</li>
  </ul>
</p>

<h3>Titan Cloud</h3>
<aside>Senior Software Engineer</aside>
<aside>2013.03 - 2014.04</aside>
<p>
  <ul>
    <li>Created JavaScript library that focuses on making regularly used patterns easy to implement as well as taking steps back from being too jQuery reliant. The goal was to decrease development time.</li>
    <li>Wrote test suites in Selenium using both the IDE and WebDriver API and created a test environment with Selenium nodes. The tests were deployed to Selenium nodes and run periodically across multiple browsers.</li>
    <li>Aided in creating a scheduling service that is used as application wide cron management. This is a multi threaded service which uses thread pooling to manage concurrent tasks. A usage example is scheduling a report to run at set increments.</li>
    <li>UI/UX revamp of the entire application. This required creating project plans, client interaction, storyboarding, and requirements gathering while on a 2 week deliverable schedule.</li>
    <li>Created a prototype of the next TitanCloud on AWS using MVC 4, WebAPI, Razor, and Bootstrap.</li>
    <li>Aided in moving Titan's platform to AWS.</li>
    <li>Moved Titan from svn to git.</li>
  </ul>
</p>

<h3>GISbiz</h3>
<aside>Software Engineer</aside>
<aside>2010.03 - 2013.03</aside>
<p>
  <ul>
    <li>Designed and Developed a Javascript mapping application for Cook County, IL using ESRI Javascript 3.1 API on top of ArcGIS Server 9.3.</li>
    <li>Created 4 Flex mapping applications using ESRI Flex API's 1.3 - 3.0. All of these applications relied heavily on ArcGIS Server 9.3 - 10.1.</li>
    <li>Developed a data aggregator for GIS data coming from public agencies. The aggregator routinely updates its cache and serves it through WCF services as JSON. A uniform data object was created in order to have the smallest client footprint possible.</li>
    <li>Built a Google Maps application to collect and display the aggregated data. The UI was created using Jquery Mobile with an embedded Google map.</li>
    <li>Created custom Flex UI controls using Actionscript drawing and shading abilities. This drastically reduced load time by creating the design at runtime rather than downloading potentially hundreds of images.</li>
    <li>Created an ArcMap addin application and EditorExtension addin. The editor extension captures feature insert and update events in order to accurately populate attribute data.</li>
    <li>Initiated development of custom JavaScript API for mobile, desktop, and tablet based applications. The API is geared toward GIS based applications.</li>
    <li>Developed backup procedures for all Linux servers. The backups were sent to in house drives as well as Amazon S3. They were written in Bash and Python.</li>
    <li>Developed and coordinated development of TDOT SEMS components in ASP.NET MVC 2.</li>
    <li>Generated NHibernate mappings, domain classes, controllers, views, view models, routing entries and BluePrint CSS user interface.</li>
    <li>Created custom theme for Dojo that was incorporated into the ESRI Javascript 3.0 application.</li>
  </ul>
</p>

<h3>Plant CML</h3>
<aside>Software Engineer</aside>
<aside>2007.09 - 2010.02</aside>
<p>
  <ul>
    <li>Designed and created a SMS client in C# that can be installed on multiple systems and allow each system to simultaneously send millions of SMS messages to a collection of gateways.</li>
    <li>Created a Flex mapping application that was used for emergency notifications in large metropolitan areas or universities. The application allowed the user to select the areas which would be notified.</li>
  </ul>
</p>
